# Les 5: Data processing excercise


In this lesson we will be using a number of things we have learned in previous lessons. Try to go back to those lessons/notebooks to solve each part of the assignement. There are **optional** excercises in this notebook, these are not really extra or optional, but it is possible to skip these if you are having difficulties or if it takes you longer than expected. So for those who are quite ok with python, do these 'optional' things as you come across them. 

P.S. you can also search the internet/cheat sheets to find the appropriate code for what you want to do. 

Before we start, let's load our favourite libraries.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data & pre-processing

The data we will be using for this assignment is the IMDb dataset. IMDb (Internet Movie Database) contains information on almost all movies ever made. All these movies recieve ratings from the public and from critics. The aim for today is to learn about the evolution of movies over time. Specifically, we will see how the number of movies has evolved over time and how the 'quality' of these movies has evolved over time. 

There are 2 datasets, IMDb movies and IMDd ratings. The names are self-explanatory

## [Ex] Data Loading

Load both datasets correctly. **Warning! The data on my laptop is in the Movie_data folder, this can be different for you**

In [3]:
films = pd.read_csv("Movie_data/IMDb movies.csv")
films.head(3)

/Users/Charlie/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0

In [4]:
films.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [5]:
ratings = pd.read_csv("Movie_data/IMDb ratings.csv")
ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [6]:
ratings.dtypes

imdb_title_id                 object
weighted_average_vote        float64
total_votes                    int64
mean_vote                    float64
median_vote                  float64
votes_10                       int64
votes_9                        int64
votes_8                        int64
votes_7                        int64
votes_6                        int64
votes_5                        int64
votes_4                        int64
votes_3                        int64
votes_2                        int64
votes_1                        int64
allgenders_0age_avg_vote     float64
allgenders_0age_votes        float64
allgenders_18age_avg_vote    float64
allgenders_18age_votes       float64
allgenders_30age_avg_vote    float64
allgenders_30age_votes       float64
allgenders_45age_avg_vote    float64
allgenders_45age_votes       float64
males_allages_avg_vote       float64
males_allages_votes          float64
males_0age_avg_vote          float64
males_0age_votes             float64
males_18age_avg_vote         float64
males_18age_votes            float64
males_30age_avg_vote         float64
males_30age_votes            float64
males_45age_avg_vote         float64
males_45age_votes            float64
females_allages_avg_vote     float64
females_allages_votes        float64
females_0age_avg_vote        float64
females_0age_votes           float64
females_18age_avg_vote       float64
females_18age_votes          float64
females_30age_avg_vote       float64
females_30age_votes          float64
females_45age_avg_vote       float64
females_45age_votes          float64
top1000_voters_rating        float64
top1000_voters_votes         float64
us_voters_rating             float64
us_voters_votes              float64
non_us_voters_rating         float64
non_us_voters_votes          float64
dtype: object

## [Ex] Data selection

There are a lot of variables but we do not need all of them. Keep only the following variables:

- movie data: 'imdb_title_id', 'title", "year', 'genre', 'duration', 'country', 'language', 'avg_vote', 'votes'
- rating data: 'imdb_title_id', 'total_votes', 'weighted_average_vote', 'mean_vote', 'us_voters_rating', 'non_us_voters_rating'

In [7]:
films = films[["imdb_title_id", "title", "year", "genre", "duration", "country", "language", "avg_vote", "votes"]]
films.shape

(85855, 9)

In [8]:
ratings = ratings[["imdb_title_id", "total_votes", 'weighted_average_vote', 'mean_vote',
                   'us_voters_rating', 'non_us_voters_rating']]

ratings.shape

(85855, 6)

## [Ex] Data merging 

Merge both datasets into 1 DataFrame. Hint: you can use the pandas merge function.

In [9]:
films_merged = pd.merge(films, ratings, how='inner', left_on='imdb_title_id', right_on='imdb_title_id')

In [10]:
films_merged.head()

,imdb_title_id,title,year,genre,duration,country,language,avg_vote,votes,total_votes,weighted_average_vote,mean_vote,us_voters_rating,non_us_voters_rating
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,5.9,154,154,5.9,5.9,6.4,6.0
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,6.1,589,589,6.1,6.3,6.0,6.2
2,tt0001892,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,5.8,188,188,5.8,6.0,6.2,5.9
3,tt0002101,Cleopatra,1912,"Drama, History",100,USA,English,5.2,446,446,5.2,5.3,5.5,4.7
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,7.0,2237,2237,7.0,6.9,7.0,7.0

## [Ex] Encoding & type checks

By checking the encoding we can check for unexpected things. Python loads large datasets in chunks (parts), and an unexpected data type could indicate something wrong. 

Check the encodings and list which ones need fixing.

In [11]:
films_merged.dtypes

imdb_title_id             object
title                     object
year                      object
genre                     object
duration                   int64
country                   object
language                  object
avg_vote                 float64
votes                      int64
total_votes                int64
weighted_average_vote    float64
mean_vote                float64
us_voters_rating         float64
non_us_voters_rating     float64
dtype: object

To fix:
1. imdb_title_id --> string
2. title --> string
3. year --> int
4. genre --> category
5. country --> category
6. language --> category

### [Ex, optional] Fixing year

There is something wrong with year. See if you can figure it out and fix it. If not, execute the next line of code and proceed. **Note:** this line of code is not a solution for the problem, it simply avoids it. 

films_merged = films_merged[films_merged['imdb_title_id'] !='tt8206668']

In [12]:
films_merged['year'] = films_merged['year'].astype('int')

ValueError: invalid literal for int() with base 10: 'TV Movie 2019'

In [13]:
films_merged[ films_merged['year'] == 'TV Movie 2019']

,imdb_title_id,title,year,genre,duration,country,language,avg_vote,votes,total_votes,weighted_average_vote,mean_vote,us_voters_rating,non_us_voters_rating
83917,tt8206668,Bad Education,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,7.1,23973,23973,7.1,7.1,7.3,7.0

In [14]:
films_merged[ films_merged['imdb_title_id'] == 'tt8206668']

,imdb_title_id,title,year,genre,duration,country,language,avg_vote,votes,total_votes,weighted_average_vote,mean_vote,us_voters_rating,non_us_voters_rating
83917,tt8206668,Bad Education,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,7.1,23973,23973,7.1,7.1,7.3,7.0

In [15]:
films_merged.loc[ films_merged['year'] == 'TV Movie 2019', "year"] = "2019"

In [16]:
films_merged[ films_merged['imdb_title_id'] == 'tt8206668']

,imdb_title_id,title,year,genre,duration,country,language,avg_vote,votes,total_votes,weighted_average_vote,mean_vote,us_voters_rating,non_us_voters_rating
83917,tt8206668,Bad Education,2019,"Biography, Comedy, Crime",108,USA,English,7.1,23973,23973,7.1,7.1,7.3,7.0

In [17]:
films_merged['year'] = films_merged['year'].astype('int')
films_merged.dtypes

imdb_title_id             object
title                     object
year                       int64
genre                     object
duration                   int64
country                   object
language                  object
avg_vote                 float64
votes                      int64
total_votes                int64
weighted_average_vote    float64
mean_vote                float64
us_voters_rating         float64
non_us_voters_rating     float64
dtype: object

### [Ex] Fix the rest of the encoding issues

In [ ]:

films_merged['genre'] = films_merged['genre'].astype('category')
films_merged['country'] = films_merged['country'].astype('category')
films_merged['language'] = films_merged['language'].astype('category')

films_merged['imdb_title_id'] = films_merged['imdb_title_id'].astype('string')
films_merged['title'] = films_merged['title'].astype('string')

In [ ]:
films_merged.dtypes

## Select data of interest

Let's focus on the 'Hollywood' movie scene, this we can do by selecting the movies from the USA.



**[Optional]** Answer the following questions for yourself:
1. Is English the only language spoken or are there others
2. What's the year of the oldest movie in this data
3. What's the year of the youngest movie in this data

In [ ]:
films_merged['country'].value_counts()

In [ ]:
films_merged = films_merged[films_merged['country'] == 'USA']

In [ ]:
films_merged['language'].value_counts()

In [ ]:
films_merged['year'].min()

In [ ]:
films_merged['year'].max()

## [Optional] Standardize the movie scores (Z-score)

# Calculations 

In this section we are going to calculate some aggregate results per year and per decade. Specifically, we are interested in the average and standard deviation of the scores per year/decade. In this way we can hopefully answer the question which year/decade was rated the best for cinema. We are going to do this by writing a function that does these calculations for us

## [Ex] Write a function that calculates metrics per year

1. avg_vote (average and standard deviation)
2. N_movies
3. [optional] standardized_vote (average and standard deviation)
4. [optional] US and non-US average score

## [Optional] Write a function that calculates metrics per decade

1. score (average and sd)
2. standardized score (average and sd)
3. number of movies

# Visualising results

## [Ex] Visualise the average scores (+/- SD) over time

There might be something wrong, if so: fix it

## [Optional] Visualise the average scores (+/- SD) over time, and add the decade based data as an errorbar visual.

## [Optional] Change the previous plot but plot Us vs non-US votes.

# [Optional] additonal excercise for the quick:

Redo part of the analysis but in the end try to make a comparison between different cinems, e.g. hollywood, vs Japan, India, others? Do they exhibit the same results or are the best years situated somehere else completely?